<div class="main-body">
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'><i class="icon-time"></i>最新职位</span>
    </div>
    
    <% if(jobs && jobs.length > 0){ %> 
    <%-partial('job/jobItem',{collection:jobs,as:'job'}) %>
    <%}else{}%>
    

  </div>
</div>

<%-partial('side')%>

