<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!--css-->
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.min.css' />
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
  </head>
  <body>
    
  <div class="container">
      <% if( success ) { %>
        <div class="alert alert-success"> <%=success%> </div>
      <% } %>
      <% if(error) { %>
        <div class="alert alert-error"> <%=error%> </div>
      <% } %> 

      <form class="form-signin" method="post" action="/reg">
        <h2 class="form-signin-heading">注册新用户</h2>

        用户昵称：<input type="text" class="input-block-level" name="name" placeholder="nick name" required=true>
        用户邮箱：<input type="email" class="input-block-level" name="email" placeholder="Email address" required=true>
        密码：<input type="password" class="input-block-level" name="password" placeholder="Password" required=true>
        确认密码：<input type="password" class="input-block-level" name="repassword" placeholder="RePassword" required=true>
        
       
        <button class="btn btn-large btn-primary" type="submit">注册</button>
      </form>

    </div> <!-- /container -->

    
    
  </body>
</html>